.wrapper {
  display: flex;
  flex-flow: row wrap;
  /*flex-grow: 1;*/
  /*justify-content: flex-end;*/
  flex-direction: row;
  /*height: 100%;*/
}

/* We tell all items to be 100% width */
.header, .main, .nav, .aside, .footer {
  flex: 1 100%;
}

/* We rely on source order for mobile-first approach
 * in this case:
 * 1. header
 * 2. nav
 * 3. main
 * 4. aside
 * 5. footer
 */

/* Medium screens */
@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .aside { flex: 1 auto; }
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars
   */
  .main { flex: 3 0px; }

  .aside-1 { order: 1;
             border-style: solid;
             border-width: 1px;}
  .main    { order: 2; }
  .aside-2 { order: 6;
             border-style: solid;
             border-width: 1px;}
  .footer  { order: 4; }
}

#stage_sectors
{
    position: relative;
  width: 20em;
  height: 20em;
  margin: 4em auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-20deg) rotateY(-40deg) perspective(600px);
  transform: rotateX(-20deg) rotateY(-40deg) perspective(600px);
  margin-top: 350px;
}


/*  First Row */
#sector_Sa
{
  position: absolute;
  width: 65%;
  height: 65%;
  font-size: 2em;
  text-align: center;
  line-height: 10em;
  color: #fff;
  background-color: rgba(200,100,100,0.5);
 /* border-radius: 1em;*/
  margin-left: -400px;
  margin-top: -200px;
}

#sector_Sd
{
  position: absolute;
  width: 65%;
  height: 65%;
  font-size: 2em;
  text-align: center;
  line-height: 10em;
  color: #fff;
  background-color: rgba(200,100,100,0.5);
 /* border-radius: 1em;*/
  margin-left: -200px;
  margin-top: -200px;
}
#sector_Sg
{
  position: absolute;
  width: 65%;
  height: 65%;
  font-size: 2em;
  text-align: center;
  line-height: 10em;
  color: #fff;
  background-color: rgba(200,100,100,0.5);
 /* border-radius: 1em;*/
  margin-left: 0px;
  margin-top: -200px;
}


/*  second Row */
#sector_Sb
{
  position: absolute;
  width: 65%;
  height: 65%;
  font-size: 2em;
  text-align: center;
  line-height: 10em;
  color: #fff;
  background-color: rgba(200,100,100,0.5);
   margin-left: -400px;
  margin-top: 0px;
 /* border-radius: 1em;*/
}
#sector_Se
{
  position: absolute;
  width: 65%;
  height: 65%;
  font-size: 2em;
  text-align: center;
  line-height: 10em;
  color: #fff;
  background-color: rgba(200,100,100,0.5);
   margin-left: -200px;
  margin-top: 0px;
 /* border-radius: 1em;*/
}
#sector_Sh
{
  position: absolute;
  width: 65%;
  height: 65%;
  font-size: 2em;
  text-align: center;
  line-height: 10em;
  color: #fff;
  background-color: rgba(200,100,100,0.5);
   margin-left: 0px;
  margin-top: 0px;
 /* border-radius: 1em;*/
}

/*  Third Row */
#sector_Sc
{
  position: absolute;
  width: 65%;
  height: 65%;
  font-size: 2em;
  text-align: center;
  line-height: 10em;
  color: #fff;
  background-color: rgba(200,100,100,0.5);
 /* border-radius: 1em;*/
  margin-left: -400px;
  margin-top: 200px;
}
#sector_Sf
{
  position: absolute;
  width: 65%;
  height: 65%;
  font-size: 2em;
  text-align: center;
  line-height: 10em;
  color: #fff;
  background-color: rgba(200,100,100,0.5);
 /* border-radius: 1em;*/
  margin-left: -200px;
  margin-top: 200px;
}
#sector_Si
{
  position: absolute;
  width: 65%;
  height: 65%;
  font-size: 2em;
  text-align: center;
  line-height: 10em;
  color: #fff;
  background-color: rgba(200,100,100,0.5);
 /* border-radius: 1em;*/
  margin-left: 0px;
  margin-top: 200px;
}

#sector_Sa
{

  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}

#sector_Sd
{
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}

#sector_Sg
{
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}

#sector_Sb
{
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}

#sector_Se
{
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}

#sector_Sh
{
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}

#sector_Sc
{
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}

#sector_Sf
{
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}

#sector_Si
{
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}

#sector_Sa { background-color: rgba(100,200,100,0.5); }
#sector_Sd { background-color: rgba(100,200,100,0.5); }
#sector_Sg { background-color: rgba(100,200,100,0.5); }

#sector_Sb { background-color: rgba(100,200,100,0.5); }
#sector_Se { background-color: rgba(100,200,100,0.5); }
#sector_Sh { background-color: rgba(100,200,100,0.5); }

#sector_Sc { background-color: rgba(100,200,100,0.5); }
#sector_Sf { background-color: rgba(100,200,100,0.5); }
#sector_Si { background-color: rgba(100,200,100,0.5); }
