.wrapper {
  display: flex;
  flex-flow: row wrap;
  /*flex-grow: 1;*/
  /*justify-content: flex-end;*/
  flex-direction: row;
  /*height: 100%;*/
}

/* We tell all items to be 100% width */
.header, .main, .nav, .aside, .footer {
  flex: 1 100%;
}

/* We rely on source order for mobile-first approach
 * in this case:
 * 1. header
 * 2. nav
 * 3. main
 * 4. aside
 * 5. footer
 */

/* Medium screens */
@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .aside { flex: 1 auto; }
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars
   */
  .main { flex: 3 0px; }

  .aside-1 { order: 1;
             border-style: solid;
             border-width: 1px;}
  .main    { order: 2; }
  .aside-2 { order: 6;
             border-style: solid;
             border-width: 1px;}
  .footer  { order: 4; }
}

#stage_sectors
{
    position: relative;
  width: 20em;
  height: 20em;
  margin: 4em auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-20deg) rotateY(-40deg) perspective(600px);
  transform: rotateX(-20deg) rotateY(-40deg) perspective(600px);
  margin-top: 350px;
}


/*  First Row */
#sector_Sa, #sector_Ta, #sector_Za
{
  margin-left: -400px;
  margin-top: -200px;
}

#sector_Sd, #sector_Td, #sector_Zd
{
  margin-left: -200px;
  margin-top: -200px;
}
#sector_Sg, #sector_Tg, #sector_Zg
{
  margin-left: 0px;
  margin-top: -200px;
}


/*  second Row */
#sector_Sb, #sector_Tb, #sector_Zb
{
  margin-left: -400px;
  margin-top: 0px;
}
#sector_Se, #sector_Te, #sector_Ze
{
  margin-left: -200px;
  margin-top: 0px;
}
#sector_Sh, #sector_Th, #sector_Zh
{
  margin-left: 0px;
  margin-top: 0px;
}

/*  Third Row */
#sector_Sc, #sector_Tc, #sector_Zc
{
  margin-left: -400px;
  margin-top: 200px;
}
#sector_Sf, #sector_Tf, #sector_Zf
{
  margin-left: -200px;
  margin-top: 200px;
}
#sector_Si, #sector_Ti, #sector_Zi
{

  margin-left: 0px;
  margin-top: 200px;
}

#sector_Sa, #sector_Sd, #sector_Sg, #sector_Sb, #sector_Se, #sector_Sh, #sector_Sc, #sector_Sf, #sector_Si,
#sector_Ta, #sector_Td, #sector_Tg, #sector_Tb, #sector_Te, #sector_Th, #sector_Tc, #sector_Tf, #sector_Ti,
#sector_Za, #sector_Zd, #sector_Zg, #sector_Zb, #sector_Ze, #sector_Zh, #sector_Zc, #sector_Zf, #sector_Zi
{
  position: absolute;
  width: 65%;
  height: 65%;
  font-size: 2em;
  text-align: center;
  line-height: 10em;
  color: #fff;
}

#sector_Sa, #sector_Sd, #sector_Sg, #sector_Sb, #sector_Se, #sector_Sh, #sector_Sc, #sector_Sf, #sector_Si
{
  background-color: rgba(400,200,100,0.75);
  -webkit-transform: translateZ(-400px);
  transform: translateZ(-400px);
}

#sector_Ta, #sector_Td, #sector_Tg, #sector_Tb, #sector_Te, #sector_Th, #sector_Tc, #sector_Tf, #sector_Ti
{
  background-color: rgba(100,200,100,0.50);
  -webkit-transform: translateZ(-200px);
  transform: translateZ(-200px);
}

#sector_Za, #sector_Zd, #sector_Zg, #sector_Zb, #sector_Ze, #sector_Zh, #sector_Zc, #sector_Zf, #sector_Zi
{
  background-color: rgba(191, 148, 63, 0.30);
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}
/*#sector_Sa { background-color: rgba(100,200,100,0.5); }
#sector_Sd { background-color: rgba(100,200,100,0.5); }
#sector_Sg { background-color: rgba(100,200,100,0.5); }
#sector_Sb { background-color: rgba(100,200,100,0.5); }
#sector_Se { background-color: rgba(100,200,100,0.5); }
#sector_Sh { background-color: rgba(100,200,100,0.5); }
#sector_Sc { background-color: rgba(100,200,100,0.5); }
#sector_Sf { background-color: rgba(100,200,100,0.5); }
#sector_Si { background-color: rgba(100,200,100,0.5); }*/
