{% block header %}
  {% include 'head.html' %}
{% endblock %}

<div class="pm"></div>

<div class="aside aside-1">
  <strong>Current Resources</strong>
  <div id="player_resources">test</div>

  <ul>
   <li> Power: {{ Resources.power }}  MJ </li>
   <li> Material: {{ Resources.material }}  t </li>
   <li> Food: {{ Resources.food }}  km³</li>
   <li> Metal: {{ Resources.metal }} kg/m³</li>
   <li> Fuel: {{ Resources.fuel}}  kPa</li>
  </ul>
</div>

<article class="main">

  <ul>
    <li> Home Sector: <strong>{{ playerdata.name }}</strong> </li>
    <li> Suns: {{ playerdata.sun }} </li>
    <li> Planets: </li>
    <ul>
      <li> Goldilocks: {{ playerdata.goldilocks_planets }} </li>
      <li> Rocky: {{ playerdata.rocky_planets }} </li>
      <li> Gas Giants: {{ playerdata.gas_planets }} </li>
    </ul>
    <li> Moons: {{ playerdata.moons }} </li>
    <li> Asteroid Belts: {{ playerdata.belts }} </li>
  </ul>


</article>


<div class="aside aside-2">
  <article class="sectors">

    <strong>Sectors</strong>

      <div id="stage_sectors">

        <div id="sector_Sa">{{ Sectors.Sa }}</div>
        <div id="sector_Sd">{{ Sectors.Sd }}</div>
        <div id="sector_Sg">{{ Sectors.Sg }}</div>

        <div id="sector_Sb">{{ Sectors.Sb }}</div>
        <div id="sector_Se">{{ Sectors.Se }}</div>
        <div id="sector_Sh">{{ Sectors.Sh }}</div>

        <div id="sector_Sc">{{ Sectors.Sc }}</div>
        <div id="sector_Sf">{{ Sectors.Sf }}</div>
        <div id="sector_Si">{{ Sectors.Si }}</div>

        <div id="sector_Ta">{{ Sectors.Ta }}</div>
        <div id="sector_Td">{{ Sectors.Td }}</div>
        <div id="sector_Tg">{{ Sectors.Tg }}</div>

        <div id="sector_Tb">{{ Sectors.Tb }}</div>
        <div id="sector_Te">{{ Sectors.Te }}</div>
        <div id="sector_Th">{{ Sectors.Th }}</div>

        <div id="sector_Tc">{{ Sectors.Tc }}</div>
        <div id="sector_Tf">{{ Sectors.Tf }}</div>
        <div id="sector_Ti">{{ Sectors.Ti }}</div>

        <div id="sector_Za">{{ Sectors.Za }}</div>
        <div id="sector_Zd">{{ Sectors.Zd }}</div>
        <div id="sector_Zg">{{ Sectors.Zg }}</div>

        <div id="sector_Zb">{{ Sectors.Zb }}</div>
        <div id="sector_Ze">{{ Sectors.Ze }}</div>
        <div id="sector_Zh">{{ Sectors.Zh }}</div>

        <div id="sector_Zc">{{ Sectors.Zc }}</div>
        <div id="sector_Zf">{{ Sectors.Zf }}</div>
        <div id="sector_Zi">{{ Sectors.Ti }}</div>
     </div>


<!--     <table border=1>
      <thead><tr><td>Sigma</td></tr></thead>
    <tr>
        <td>{{ Sectors.Sa }}</td><td> {{ Sectors.Sd }} </td><td> {{ Sectors.Sg }} </td>
      </tr>
      <tr>
        <td>{{ Sectors.Sb }}</td><td> {{ Sectors.Se }} </td><td> {{ Sectors.Sh }} </td>
      </tr>
 <tr>
        <td>{{ Sectors.Sc }}</td><td> {{ Sectors.Sf }} </td><td> {{ Sectors.Si }} </td>
      </tr>
      <thead><tr><td>Tao</td></tr></thead>
      <tr>
        <td>{{ Sectors.Ta }}</td><td> {{ Sectors.Td }} </td><td> {{ Sectors.Tg }} </td>
      </tr>
      <tr>
        <td>{{ Sectors.Tb }}</td><td> {{ Sectors.Te }} </td><td> {{ Sectors.Th }} </td>
      </tr>
      <tr>
        <td>{{ Sectors.Tc }}</td><td> {{ Sectors.Tf }} </td><td> {{ Sectors.Ti }} </td>
      </tr>
      <thead><tr><td>Zeta</td></tr></thead>
      <tr>
        <td>{{ Sectors.Za }}</td><td> {{ Sectors.Zd }} </td><td> {{ Sectors.Zg }} </td>
      </tr>
      <tr>
        <td>{{ Sectors.Zb }}</td><td> {{ Sectors.Ze }} </td><td> {{ Sectors.Zh }} </td>
      </tr>
      <tr>
        <td>{{ Sectors.Zc }}</td><td> {{ Sectors.Zf }} </td><td> {{ Sectors.Zi }} </td>
      </tr>
    </table> -->

  </article>
</div>

  {% include 'buttons.html' %}





{% block footer %}
  {% include 'footer.html' %}
{% endblock %}
