{% block header %}
  {% include 'head.html' %}
{% endblock %}

<div class="pm"></div>

<div class="aside aside-1">
  <strong>Current Resources</strong>
  <div id="player_resources">test</div>

  <ul>
   <li> Power: {{ Resources.power }}  MJ </li>
   <li> Material: {{ Resources.material }}  t </li>
   <li> Food: {{ Resources.food }}  km³</li>
   <li> Metal: {{ Resources.metal }} kg/m³</li>
   <li> Fuel: {{ Resources.fuel}}  kPa</li>
  </ul>
</div>

<article class="main">

  <ul>
    <li> Home Sector: <strong>{{ playerdata.name }}</strong> </li>
    <li> Suns: {{ playerdata.sun }} </li>
    <li> Planets: </li>
    <ul>
      <li> Goldilocks: {{ playerdata.goldilocks_planets }} </li>
      <li> Rocky: {{ playerdata.rocky_planets }} </li>
      <li> Gas Giants: {{ playerdata.gas_planets }} </li>
    </ul>
    <li> Moons: {{ playerdata.moons }} </li>
    <li> Asteroid Belts: {{ playerdata.belts }} </li>
  </ul>


</article>


<div class="aside aside-2">
  <article class="sectors">

    <strong>Sectors Planes</strong>

      <div id="sector_buttons">
        <button id="zeta_plane" value="Zeta">Zeta</button>
        <button id="tao_plane" value="Tao">Tao</button>
        <button id="sigma_plane" value="Sigma">Sigma</button>
      </div>

      <div id="stage_sectors">

        <div id="sector_Sa"><button class="sector_button" id="sector.Sa">{{ Sectors.Sa | raw }}</button></div>
        <div id="sector_Sd"><button class="sector_button" id="sector.Sd">{{ Sectors.Sd | raw }}</button></div>
        <div id="sector_Sg"><button class="sector_button" id="sector.Sg">{{ Sectors.Sg | raw }}</button></div>

        <div id="sector_Sb"><button class="sector_button" id="sector.Sb">{{ Sectors.Sb | raw }}</button></div>
        <div id="sector_Se"><button class="sector_button" id="sector.Se">{{ Sectors.Se | raw }}</button></div>
        <div id="sector_Sh"><button class="sector_button" id="sector.Sh">{{ Sectors.Sh | raw }}</button></div>

        <div id="sector_Sc"><button class="sector_button" id="sector.Sc">{{ Sectors.Sc | raw }}</button></div>
        <div id="sector_Sf"><button class="sector_button" id="sector.Sf">{{ Sectors.Sf | raw }}</button></div>
        <div id="sector_Si"><button class="sector_button" id="sector.Si">{{ Sectors.Si | raw }}</button></div>

        <div id="sector_Ta"><button class="sector_button" id="sector.Ta">{{ Sectors.Ta | raw }}</button></div>
        <div id="sector_Td"><button class="sector_button" id="sector.Td">{{ Sectors.Td | raw }}</button></div>
        <div id="sector_Tg"><button class="sector_button" id="sector.Tg">{{ Sectors.Tg | raw }}</button></div>

        <div id="sector_Tb"><button class="sector_button" id="sector.Tb">{{ Sectors.Tb | raw }}</button></div>
        <div id="sector_Te"><button class="sector_button" id="sector.Te">{{ Sectors.Te | raw }}</button></div>
        <div id="sector_Th"><button class="sector_button" id="sector.Th">{{ Sectors.Th | raw }}</button></div>

        <div id="sector_Tc"><button class="sector_button" id="sector.Tc">{{ Sectors.Tc | raw }}</button></div>
        <div id="sector_Tf"><button class="sector_button" id="sector.Tf">{{ Sectors.Tf | raw }}</button></div>
        <div id="sector_Ti"><button class="sector_button" id="sector.Ti">{{ Sectors.Ti | raw }}</button></div>

        <div id="sector_Za"><button class="sector_button" id="sector.Za">{{ Sectors.Za | raw }}</button></div>
        <div id="sector_Zd"><button class="sector_button" id="sector.Zd">{{ Sectors.Zd | raw }}</button></div>
        <div id="sector_Zg"><button class="sector_button" id="sector.Zg">{{ Sectors.Zg | raw }}</button></div>

        <div id="sector_Zb"><button class="sector_button" id="sector.Zb">{{ Sectors.Zb | raw }}</button></div>
        <div id="sector_Ze"><button class="sector_button" id="sector.Ze">{{ Sectors.Ze | raw }}</button></div>
        <div id="sector_Zh"><button class="sector_button" id="sector.Zh">{{ Sectors.Zh | raw }}</button></div>

        <div id="sector_Zc"><button class="sector_button" id="sector.Zc">{{ Sectors.Zc | raw }}</button></div>
        <div id="sector_Zf"><button class="sector_button" id="sector.Zf">{{ Sectors.Zf | raw }}</button></div>
        <div id="sector_Zi"><button class="sector_button" id="sector.Zi">{{ Sectors.Zi | raw }}</button></div>
     </div>


<!--     <table border=1>
      <thead><tr><td>Sigma</td></tr></thead>
    <tr>
        <td>{{ Sectors.Sa }}</td><td> {{ Sectors.Sd }} </td><td> {{ Sectors.Sg }} </td>
      </tr>
      <tr>
        <td>{{ Sectors.Sb }}</td><td> {{ Sectors.Se }} </td><td> {{ Sectors.Sh }} </td>
      </tr>
 <tr>
        <td>{{ Sectors.Sc }}</td><td> {{ Sectors.Sf }} </td><td> {{ Sectors.Si }} </td>
      </tr>
      <thead><tr><td>Tao</td></tr></thead>
      <tr>
        <td>{{ Sectors.Ta }}</td><td> {{ Sectors.Td }} </td><td> {{ Sectors.Tg }} </td>
      </tr>
      <tr>
        <td>{{ Sectors.Tb }}</td><td> {{ Sectors.Te }} </td><td> {{ Sectors.Th }} </td>
      </tr>
      <tr>
        <td>{{ Sectors.Tc }}</td><td> {{ Sectors.Tf }} </td><td> {{ Sectors.Ti }} </td>
      </tr>
      <thead><tr><td>Zeta</td></tr></thead>
      <tr>
        <td>{{ Sectors.Za }}</td><td> {{ Sectors.Zd }} </td><td> {{ Sectors.Zg }} </td>
      </tr>
      <tr>
        <td>{{ Sectors.Zb }}</td><td> {{ Sectors.Ze }} </td><td> {{ Sectors.Zh }} </td>
      </tr>
      <tr>
        <td>{{ Sectors.Zc }}</td><td> {{ Sectors.Zf }} </td><td> {{ Sectors.Zi }} </td>
      </tr>
    </table> -->

  </article>
</div>

  {% include 'buttons.html' %}





{% block footer %}
  {% include 'footer.html' %}
{% endblock %}
